:root {
    --primary-color: #FB542B;
    --back-round-color: rgb(33, 37, 41);
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
    background-color: var(--back-round-color);
    border-radius: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background: var(--back-round-color);
    color: var(--primary-color);
    font-weight: bold;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}


/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

li {
    margin: 5px;
}

li a {
    color: var(--primary-color);
    
}